

.box {
  
  height: 150px;

}

.row {
	margin-top: 50px;
}
.car1 {

max-height:70%;
overflow: visible;
padding-left: 0px;


}

.car2 {
	max-height: 120%;
	overflow: visible;
	margin-left: 15px;
}

.position2 {
	padding-left: 100px;
}

.position3 {
  
  padding-left:200px;
}

.position4 {
	padding-left:300px;
}

.position5 {
	padding-left: 400px;
}

.position6 {
	padding-left:500px;
}

.position7 {
	padding-left:600px;
}

.position8 {
	padding-left:700px;
}

.position9 {
	padding-left: 800px;
}

h2 {
	text-align: center;
	display: hidden;
}